scopeName: 'source.eventusflow'
name: 'EventusFlow'
fileTypes: [ 'exp' ]
limitLineLength: false

patterns: [
  {
    comment: 'Use this to explain the function of the rule, if necessary'
    name: 'comment.line.example'
    match: '//.*$'
  }
  {
    match: '(\\*)(.*?)(\\*)'
    captures:
    0:
      name: 'meta.bold.example'
    1:
      name: 'punctuation.definition.bold.example'
    2:
      name: 'markup.bold.example'
    3:
      name: 'punctuation.definition.bold.example'
    }
]
